html,
body {
	height: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	width: 100%;
	overflow-x: hidden;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	transition: 0.2s;
}

.flexnoend {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-content: flex-end;
	flex-wrap: nowrap;
}

.flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: nowrap;
}
.indexaside{
	width: 8px;
	position: fixed;
	left: 5%;
	bottom: 10vw;
	z-index: 10000;
}
.indexaside a{
	width: 8px;
	height: 8px;
	box-shadow: 0 0 5px #333;
	display: block;
	margin: 1vw 0 0;
	box-sizing: border-box;
	border-radius: 50%;
	background: #000;
}
.indexaside .indAsidea{
	background: #999;
}
header {
	width: 100%;
	height: 100%;
	overflow: hidden;
	max-height: 70vw;
	position: relative;
}

header nav {
	width: 95%;
	position: absolute;
	right: 5%;
	top: 3%;
	height: 5vw;
}
.logo{
	position: absolute;
	left: 3vw;
	top: 2vw;
	width: 20vw;
	z-index: 1000000;
}
.logo img{
	width: 100%;
	display: block;
}
nav a {
	display: inline-block;
	height: 5vw;
	line-height: 5vw;
	background: none;
	color: #fff;
	font-size: 1.6vw;
	padding: 0 1vw;
}

nav .hover {
	background: #f00;
	border-radius: 0.8vw;
}

nav a:hover {
	background: #f00;
	border-radius: 0.8vw;
}

.banvid {
	margin: 0;
	position: relative;
	z-index: -1000;
}

.ban {
	width: 50%;
	height: 50%;
	min-width: 200px;
	margin: 0 auto 0;
	top: -75%;
	/*	overflow: hidden;*/
	position: relative;
	z-index: 100;
}

.ban div {
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.ban article {
	width: 100%;
	height: 60%;
}

.ban article img {
	height: 100%;
	display: block;
	margin: 0 auto;
}

.banArt {
	transform: translateY('-8vw');
	-ms-transform: translateY('-8vw');
	-moz-transform: translateY('-8vw');
	-webkit-transform: translateY('-8vw');
	-o-transform: translateY('-8vw');
	animation: banArt infinite 4s ease;
}

.ban p {
	width: 100%;
	font-size: 2vw;
	line-height: 1.5;
	color: #fff;
	text-align: center;
}

.banP {
	transform: translateY('8vw');
	-ms-transform: translateY('8vw');
	-moz-transform: translateY('8vw');
	-webkit-transform: translateY('8vw');
	-o-transform: translateY('8vw');
	animation: banP infinite 4s ease;
}

.banList {
	width: 12vw;
	min-width: 42px;
	position: absolute;
	bottom: 16vw;
	left: 50%;
	margin-left: -5vw;
	z-index: 1000;
	justify-content: space-around;
}

.banList span {
	width: 2vw;
	display: inline-block;
	box-sizing: border-box;
	height: 1vw;
	background: #f7f7f7;
	transition: 0.3s;
}

.banList .spH {
	background: #0075A9;
}

.sj {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 10vw;
	z-index: 100;
}

.sj_con,
.sj_con2 {
	width: 19.9vw;
	background: rgba(0, 0, 0, 0.5) url(../img/tr_jia.png) no-repeat;
	background-size: 1vw 1vw;
	background-position: right top;
	box-sizing: border-box;
	border-right: 1px solid transparent;
}

.sj_con {
	background-position-x: 14vw;
	background-position-y: 1vw;
}

.sj_con2 {
	background-position-x: 14vw;
	background-position-y: 1vw;
}

.sj_con h4 {
	font-size: 4vw;
	line-height: 7vw;
	text-align: center;
	color: #fff;
}

.sj_con2 h4 {
	font-size: 2.5vw;
	line-height: 7vw;
	text-align: center;
	color: #fff;
}

.sj_con p,
.sj_con2 p {
	font-size: 1.4vw;
	text-align: center;
	color: #fff;
}
.yd_con:hover p,.sy_con:hover p{
	color: #c40d2e;
}
.yd_bj {
	width: 100%;
	height: 24vw;
	background: #ddd;
}

.yd {
	width: 80%;
	margin: 0 auto;
}

.yd_con {
	height: 18vw;
	margin: 3vw auto 0;
	width: 20%;
	border-radius: 0.8vw;
	box-shadow: 5px 5px 5px #999;
	overflow: hidden;
	box-sizing: border-box;
}

.yd_con:nth-child(1) {
	background: #fff url(../img/775346136596347486_03.jpg) no-repeat center;
	background-size: 100% 100%;
}

.yd_con:nth-child(2) {
	background: #fff url(../img/775346136596347486_05.jpg) no-repeat center;
	background-size: 100% 100%;
}

.yd_con:nth-child(3) {
	background: #fff url(../img/775346136596347486_07.jpg) no-repeat center;
	background-size: 100% 100%;
}

.yd_con:nth-child(4) {
	background: #fff url(../img/775346136596347486_09.jpg) no-repeat center;
	background-size: 100% 100%;
}

.yd_con p {
	width: 80%;
	overflow: hidden;
	line-height: 1.5;
	font-size: 1.3vw;
	text-align: center;
	margin: 12vw auto 0;
	color: #333;
	transition: 0.2s;
	cursor: default;
}

.sy_bj {
	width: 100%;
	background: #fcfefb;
	padding: 3vw 0 6vw;
}

.sy_bj h3 {
	font-size: 2.5vw;
	text-align: center;
}

.sy_bj h3 span {
	color: #FF0000;
}

.sy {
	width: 80%;
	min-width: 300px;
	margin: 0 auto;
	flex-wrap: wrap !important;
}

.sy_con {
	width: 16.6%;
	height: 10vw;
	margin: 5vw 0;
	text-align: center;
}

.sy_con:nth-child(1) {
	background: url(../img/775346136596347486_16.jpg) no-repeat center;
	
}
.sy_con:nth-child(2) {
	background: url(../img/775346136596347486_18.jpg) no-repeat center;
}

.sy_con:nth-child(3) {
	background: url(../img/775346136596347486_20.jpg) no-repeat center;
}

.sy_con:nth-child(4) {
	background: url(../img/775346136596347486_23.jpg) no-repeat center;
}

.sy_con:nth-child(5) {
	background: url(../img/775346136596347486_25.jpg) no-repeat center;
}

.sy_con:nth-child(6) {
	background: url(../img/775346136596347486_27.jpg) no-repeat center;
}

.sy_con:nth-child(7) {
	background: url(../img/775346136596347486_34.jpg) no-repeat center;
}

.sy_con:nth-child(8) {
	background: url(../img/775346136596347486_35.jpg) no-repeat center;
}

.sy_con:nth-child(9) {
	background: url(../img/775346136596347486_36.jpg) no-repeat center;
}

.sy_con:nth-child(10) {
	background: url(../img/775346136596347486_37.jpg) no-repeat center;
}

.sy_con:nth-child(11) {
	background: url(../img/775346136596347486_38.jpg) no-repeat center;
}

.sy_con:nth-child(12) {
	background: url(../img/775346136596347486_39.jpg) no-repeat center;
}
.sy_con:nth-child(n){
	background-size: 8vw 8vw;
}
.sy_con p {
	margin-top: 11vw;
	font-size: 1.5vw;
	transition: 0.2s;
	cursor: default;
}

.sm_bj {
	width: 100%;
}

.sm_bj img {
	width: 100%;
	display: block;
}


/*.sm_bj{
	width: 100%;
	height: auto;
	background: #000;
	padding: 3vw 0 0;
}

.sm{
	width: 60%;
	margin: 0 auto;
	
}
.sm h4{
	width: 20vw;
	padding: 1vw 3vw;
	font-size: 1.6vw;
	font-weight: normal;
	text-align: center;
	color: #fff;
	background: #0075a9;
	border-radius: 1.5vw;
	margin: 0 auto;
}
.sm_con{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap: nowrap;
}
.sm_con {
	
}*/

.rc_bj {
	width: 100%;
	background: #f7f7f7;
	padding: 3vw 0;
	border-bottom: 1px solid #333;
}

.rc_bj h3 {
	font-size: 2.5vw;
	text-align: center;
	color: #333;
	margin-bottom: 2vw;
}

.rc_bj h6 {
	text-align: center;
	color: #333;
	font-size: 1.2vw;
	font-weight: normal;
	margin-bottom: 2vw;
}

.rc_con {
	width: 60%;
	min-width: 300px;
	margin: 0 auto;
	flex-wrap: wrap !important;
}

.rc_icon {
	width: 100%;
	border-radius: 0.8vw;
	box-shadow: 0 3px 4px #333;
}

.rc_icon img {
	width: 100%;
}

.rc_one {
	width: 49%;
	margin-top: 2vw;
	background: #fff;
	border-radius: 0.8vw;
	box-shadow: 0 3px 4px #333;
	display: inline-block;
	text-align: center;
}

.rc_one img {
	display: block;
	margin: 2vw auto 0;
}

.rc_one p {
	line-height: 1.8;
	font-size: 1.3vw;
	color: #666;
	font-weight: normal;
	margin-bottom: 1vw;
}

.rc_one p span {
	font-size: 2vw;
}

.rc_bj h5 {
	font-size: 1.2vw;
	line-height: 1.5;
	margin: 3vw 0 2vw;
	text-align: center;
}

.rc_bj a {
	display: block;
	color: #fff;
	font-size: 1.5vw;
	line-height: 3.5vw;
	text-align: center;
	position: relative;
	z-index: 1000;
	top: 0;
	left: 0;
	color: #000;
	/*background: #f15350;*/
	
}
.rc_but{
	width: 13vw;
	min-width: 80px;
	height: 3.5vw;
	line-height: 18px;
	margin: 0 auto 1vw;
	border-radius: 0.8vw;
	box-shadow: 0 3px 5px #333;
	transition: 0.2s;
	overflow: hidden;
	position: relative;
}
.rc_but div{
	width: 15vw;
	min-width: 80px;
	height: 50px;
	line-height: 18px;
	background: #f00;
	left: -15vw;
	top: 0;
	z-index: 100;
	position: absolute;
	transition: 0.5s ease;
}
.rc_but:hover div{
	left: 0;
}
/*.rc_bj a:hover{
	background: #C40D2E;
}*/
.fa_bj h3{
	font-size: 2.5vw;
	text-align: center;
	padding: 3vw 0;
	color: #333;
	font-family: "微软雅黑";
}
.fa_con{
	width: 80%;
	height: 13vw;
	padding: 3vw 0 8vw;
	overflow: hidden;
	margin: 0 auto;
}
.fa_con a{
	display: inline-block;
	width: 22%;
	margin: 0 1.5%;
	position: relative;
}
.fa_con a div{
	width: 100%;
	height: 13.3vw;
	position: absolute;
	z-index: 1;
	transition: 2s;
	transform: rotate(-45deg);
	/*animation: zhuan 2s paused linear;*/
}
.fa_con a:nth-child(1) div{
	background:url(../img/8899.png);
	background-size:100% 100% ;
	transform: rotate(0deg);
}
.fa_con a:nth-child(2) div{
	background:url(../img/4433.png);
	background-size:100% 100% ;
	transform: rotate(45deg);
}
.fa_con a:nth-child(3) div{
	background:url(../img/fa_redbj.png);
	background-size:100% 100% ;
}
.fa_con a:nth-child(4) div{
	background:url(../img/6677.png);
	background-size:100% 100% ;
	transform: rotate(-45deg);
}
.fa_con a:nth-child(5) div{
	background:url(../img/1122.png);
	background-size:100% 100% ;
	transform: rotate(0deg);
}
.fa_con a:nth-child(1):hover div{

  transform: rotate(-90deg);

}
.fa_con a:nth-child(2):hover div{

  transform: rotate(-90deg);

}
.fa_con a:nth-child(4):hover div{

  transform: rotate(90deg);

}
.fa_con a:nth-child(5):hover div{

  transform: rotate(90deg);

}
@keyframes zhuan{
	from{
		transform: rotate(0deg);
	}
	to{transform: rotate(360deg);}
}
.fa_con a p{
	color: #fff;
	text-align: center;
	height: 13.3vw;
	line-height: 13.3vw;
	position: relative;
	z-index: 5;
	font-size: 3vw;
}
.fa_bj {
	width: 100%;
	padding-bottom: 3vw;
	background: #f7f7f7;
}

.fa_bj img {
	width: 100%;
	display: block;
}

.hz_bj {
	width: 100%;
	background: #f1f1f1;
	padding: 3vw 0 5vw;
}

.hz_bj h3 {
	width: 90%;
	margin: 0 auto;
	color: #333;
	font-weight: bold;
	font-size: 2.5vw;
	background: url(../img/hz_bj.png) repeat-x center;
}

.hz_bj h3 p {
	width: 15vw;
	margin: 0 auto;
	text-align: center;
	background: #f1f1f1;
}

.hz,
.hz2 {
	width: 80%;
	margin: 0 auto;
	margin-top: 5vw;
}

.hz img {
	width: 21%;
	margin: 0 1.5%;
	box-sizing: border-box;
	display: inline-block;
}

.hz2 img {
	width: 40%;
	display: inline-block;
	box-sizing: border-box;
	margin: 0 4%;
}

.xw_bj {
	width: 100%;
	padding: 3vw 0;
	background: #f7f7f7;
}

.xw_bj h2 {
	width: 15vw;
	font-size: 2.5vw;
	line-height: 4vw;
	height: 4vw;
	text-align: center;
	margin: 0 auto;
	background: url(../img/xw_bj.png) no-repeat center;
	background-size: 100% 100%;
}

.xw_con {
	width: 80%;
	margin: 3vw auto 2vw;
}

.xw_con ul {
	width: 49%;
	background: #eee;
	padding: 10% 5%;
	box-sizing: border-box;
}

.xw_con ul li {
	width: 100%;
	text-indent: 0;
	height: 3vw;
	min-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.xw_con ul li:nth-child(1) {
	border-left: 3px solid #0075a9;
	font-size: 2vw;
	margin-bottom: 2vw;
	text-indent: 3vw;
}

.xw_con ul li:nth-child(1) a {
	color: #0075a9;
}

.xw_con a {
	display: block;
}

.xw_con a p {
	width: 60%;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0;
	height: 3vw;
	line-height: 3vw;
	color: #5f5f5f;
}

.xw_con a span {
	float: right;
	color: #9a9a9a;
	line-height: 3vw;
}

.xwmore {
	width: 8vw;
	font-size: 1.5vw;
	padding: 1vw 3vw;
	border: 1px solid #333;
	border-radius: 0.8vw;
	text-align: center;
	color: #333;
	display: block;
	margin: 0 auto;
	transition: 0.2s;
}
.xwmore:hover{
	color: #C40D2E;
	border: 1px solid #C40D2E;
}
.lx_bj {
	width: 100%;
	background: url(../img/lx_bluebj.jpg) no-repeat;
	background-size:100% 100% ;
	padding: 3vw 0;
}

.lx_bj h2 {
	color: #fff;
	width: 15vw;
	font-size: 2.5vw;
	line-height: 4vw;
	height: 4vw;
	text-align: center;
	margin: 0 auto;
	background: url(../img/lx_bj.png) no-repeat center;
	background-size: 100% 100%;
}

.lx {
	width: 80%;
	margin: 3vw auto;
}

.userForm {
	width: 49%;
	flex-wrap: wrap !important;
	font-size: 1.5vw;
}

.inp {
	width: 48%;
	line-height: 2vw;
	display: inline-block;
	box-sizing: border-box;
	border: 2px solid #d2d2d2;
	border-radius: 0.2vw;
	padding: 0.5vw;
	margin: 1vw 0;
	font-size: 1.2vw;
}
.telCode{
	width: 100%;
	box-sizing: border-box;
}
.telCode input{
	width: 70%;
	line-height: 1.5vw;
	display: inline-block;
	box-sizing: border-box;
	border: 2px solid #d2d2d2;
	border-radius: 0.2vw;
	padding: 0.5vw;
	font-size: 1.2vw;
}
.telCode a{
	display: inline-block;
	padding: 0.5vw;
	line-height: 2.5vw;
	font-size: 1.2vw;
	color: #333;
	background: #ccc;
	border-radius: 0.5vw;
	border: 1px solid #333;
	box-sizing: border-box;
}
.email {
	width: 100%;
	display: block;
	line-height: 2vw;
	box-sizing: border-box;
	border: 2px solid #d2d2d2;
	border-radius: 0.2vw;
	padding: 0.5vw;
	margin: 1vw 0;
	font-size: 1.2vw;
}

.userForm textarea {
	width: 100%;
	height: 7vw;
	min-height: 60px;
	line-height: 2vw;
	display: inline-block;
	box-sizing: border-box;
	border: 2px solid #d2d2d2;
	border-radius: 0.2vw;
	padding: 0.5vw;
	margin: 1vw 0;
	font-size: 1.4vw;
}

.sub {
	padding: 0.5vw 3vw;
	border: 2px solid #fff;
	border-radius: 0.2vw;
	text-align: center;
	display: block;
	margin: 2vw auto 0;
	background: none;
	font-size: 1.5vw;
	color: #fff;
	cursor: pointer;
	transition: 0.2s;
}
.sub:hover{
	color: #C40D2E;
	border: 2px solid #C40D2E;
}

.lx_md {
	width: 49%;
}

.lx_md h6,
.lx_md p {
	color: #fff;
	font-size: 1.5vw;
	line-height: 2;
	margin-left: 10vw;
}

.lx_md h6 {
	text-indent: 3vw;
	margin-top: 1vw;
}

.lx_md p {
	text-indent: 5vw;
}

.lx_md h6:nth-child(1) {
	background: url(../img/addr_bj.png) no-repeat left center;
	background-size: 2.5vw 2.5vw;
}

.lx_md h6:nth-child(3) {
	background: url(../img/tel_bj.png) no-repeat left center;
	background-size: 2.5vw 2.5vw;
}

.lx_md h6:nth-child(5) {
	background: url(../img/email_bj.png) no-repeat left center;
	background-size: 2.5vw 2.5vw;
}

footer {
	width: 100%;
	padding: 4vw 0 10vw;
	background: #333;
}

footer .foot {
	width: 90%;
	margin: 0 auto;
	border-left: 1px solid #fff;
}

footer .foot ul {
	width: 20%;
	box-sizing: border-box;
	border-right: 1px solid #fff;
	padding-top: 1vw;
	height: 10vw;
	overflow: hidden;
	min-height: 100px;
}

.foot ul li {
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.foot ul li a {
	display: block;
	text-align: center;
	color: #fff;
	line-height: 1.5;
	font-size: 1.2vw;
}

.foot ul li:nth-child(1) a {
	font-size: 1.5vw;
	line-height: 2.5vw;
}

.foot ul li a:hover {
	color: #C40D2E;
}

footer p {
	width: 90%;
	margin: 2vw auto 0;
	padding-top: 2vw;
	text-align: center;
	color: #fff;
	font-size: 1.2vw;
	line-height: 1.5;
	border-top: 1px solid #fff;
}
.zihead{
	width: 100%;
	box-sizing: border-box;
	background: #303030;
	padding: 1vw 3vw;
	
}
.zihead img{
	display: inline-block;
	height:6vw;
}
.zinav{
	width: 70%;
	box-sizing: border-box;
	margin-top: 2vw;
	height: 4.3vw;
	justify-content: flex-end;
}
.zinav a{
	display: inline-block;
	width: auto;
	padding: 1vw;
	box-sizing: border-box;
	color: #fff;
	transition: 0.2s;
	font-size: 1.3vw;
	line-height: 2.3vw;
}
.zinav a:hover{
	background: #ee3808;
}
.zinav .zihover{
	background: #ee3808;
}
.anliban{
	width: 100%;
	overflow: hidden;
}
.anliban img{
	width: 100%;
	display: block;
}
.anlicon{
	width: 100%;
	margin-top: 4vw;
	height: 0;
	padding-bottom: 60%;
	background: url(../img/anli_con.jpg) no-repeat top;
	background-size: 100%;
	background-position-y: 12vw;
	overflow: hidden;
	position: relative;
}
.anlicon h1,.anlishow h2{
	font-size: 2.5vw;
	padding: 1vw 2vw;
	color: #fff;
	background: #84ccc9;
	margin: 0 auto;
	width: 15vw;
	text-align: center;
	border-radius: 1vw;
	min-width: 80px;
	min-height: 20px;
}
.anlicon p,.anlishow p{
	text-align: center;
	color: #999;
	font-size: 1.3vw;
	padding: 0.2vw 0;
}
.anlicon img{
	width: 100%;
	display: block;
	margin: 4vw 0;
}
.anliList{
	width: 100%;
	overflow: hidden;
	margin: 4vw 0;
}
.anliList_con{
	width: 300%;
	transition: 1s;
	/*transform: translateX(100%);*/
}
.anliLi{
	width: 100%;
	flex-wrap:wrap !important;
	box-sizing: border-box;
}
.anliLi_con{
	width: 15%;
	margin: 1vw 0.83%;
	padding: 0 0 1vw;
	box-sizing: border-box;
	box-shadow: 0 3px 5px #333;
}
.anliLi_img{
	width: 100%;
	overflow: hidden;
}
.anliLi_imgList{
	width: 400%;
	overflow: hidden;
}
.anliLi_liimg{
	width: 25%;
	display: inline-block;
	float: left;
}
.anliLi_con h6{
	width: 90%;
	margin: 1vw 5% 0.5vw;
	font-size: 1.5vw;
	color: #333;
}
.anliLi_con p{
	background: #d2d2d2;
	border-radius: 10px;
	margin: 5px 5%;
	width: 90%;
	overflow: hidden;    
text-overflow:ellipsis;    
white-space: nowrap;
}
.anliSpan{
	width: 18vw;
	margin: 0 auto;
}
.anliSpan span{
	display: block;
	width: 3vw;
	height: 3vw;
	border-radius:50% ;
	background: #666;
	color: #fff;
	font-size: 2vw;
	line-height: 3vw;
	text-align: center;
	transition: 0.2s;
	margin-top: 4vw;
	cursor: pointer;
}
.anliSpan .anliSpanh{
	background: #f00;
}
@font-face{font-family:'strawberryicon';src:url("../fonts/strawberryicon.eot?w9sgwo");src:url("../fonts/strawberryicon.eot?w9sgwo#iefix") format("embedded-opentype"),url("../fonts/strawberryicon.ttf?w9sgwo") format("truetype"),url("../fonts/strawberryicon.woff?w9sgwo") format("woff"),url("../fonts/strawberryicon.svg?w9sgwo#strawberryicon") format("svg");font-weight:normal;font-style:normal;}

#anlit{
	margin-top:13vw;
}
#anlit .swiper-slide{
	width: 30vw;
	height: 30vw;
	border-radius: 8px;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
	position:relative;
}
#anlit .swiper-slide:after {
    z-index: 1;
    opacity: 0.3;
    /*background: #000;*/
    transition: opacity .4s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    overflow: hidden;
    display: block;
	border-radius: 8px;
}
#anlit .swiper-slide img{
	width: 40%;
	display: block;
	margin: 0 auto;
}
