<include file="Public/header"/>
		<!--以上为头部-->
		<article class="zixun_header">
			<img src="<{$list.picture}>" />
		</article>
		<article class="zixunList_con">
			<!--标题和内容改，布局样式都一样-->
			<h1>
			<if condition="$Think.get.id eq 1">行业新闻</if>
			<if condition="$Think.get.id eq 2">热点资讯</if>
			<if condition="$Think.get.id eq 3">小程序新闻</if>
			</h1>
			<div class="zixunList_ban flex">
				<div class="zixun_banner">
					<div class="banner">
						<div class="b-img">
						<foreach name="list1" item="v">
							<a href="zixunListcon.html?id=<{$v.id}>" style="background:url(<{$v.picture}>) top center no-repeat;background-size:60vw 30vw ;"></a>
						</foreach>
						</div>
						<div class="b-list"></div>
						<div class="bar-left"><em></em></div>
						<div class="bar-right">
							<em></em>
						</div>
					</div>
				</div>
				<script type="text/javascript">
					n = 5;
					$(function() {
						var n = 0;
						var imgLength = $(".b-img a").length;
						var ctWidth = imgLength * 100;
						var itemWidth = 1 / imgLength * 100;
						$(".b-img").width(ctWidth + "%");
						$(".b-img a").width(itemWidth + "%");
						//						$(".b-list").width(imgLength * 30);
						if(imgLength > 1) {
							for(var i = 0; i < imgLength; i++) {
								var listSpan = $("<span></span>")
								$(".b-list").append(listSpan);
							}
						}
						$(".b-list span:eq(0)").addClass("spcss").siblings("span").removeClass("spcss");
						$(".bar-right em").click(function() {
							if(n == imgLength - 1) {
								var ctPosit = (n + 1) * 100;
								$(".banner").append($(".b-img").clone());
								$(".b-img:last").css("left", "100%");
								$(".b-img:first").animate({ "left": "-" + ctPosit + "%" }, 1000);
								$(".b-img:last").animate({ "left": "0" }, 1000);
								var setTime0 = setTimeout(function() {
									$(".banner .b-img:first").remove();
								}, 1000);
								n = 0;
								$(".b-list span:eq(" + n + ")").addClass("spcss").siblings("span").removeClass("spcss");
							} else {
								n++;
								var ctPosit = n * 100;
								$(".b-img").animate({ "left": "-" + ctPosit + "%" }, 1000);
								$(".b-list span:eq(" + n + ")").addClass("spcss").siblings("span").removeClass("spcss");
							}
						})
						$(".bar-left em").click(function() {
							if(n == 0) {
								var stPosit = imgLength * 100;
								var etPosit = (imgLength - 1) * 100;
								$(".banner").prepend($(".b-img").clone());
								$(".b-img:first").css("left", "-" + stPosit + "%");
								$(".b-img:last").animate({ "left": "100%" }, 1000);
								$(".b-img:first").animate({ "left": "-" + etPosit + "%" }, 1000);
								var setTime0 = setTimeout(function() {
									$(".banner .b-img:last").remove();
								}, 1000);
								n = imgLength - 1;
								$(".b-list span:eq(" + n + ")").addClass("spcss").siblings("span").removeClass("spcss");
							} else {
								n--;
								var ctPosit = n * 100;
								$(".b-img").animate({ "left": "-" + ctPosit + "%" }, 1000);
								$(".b-list span:eq(" + n + ")").addClass("spcss").siblings("span").removeClass("spcss");
							}
						})
						$(".b-list span").click(function() {
							var lsIndex = $(this).index();
							n = lsIndex;
							var ctPosit = n * 100;
							$(".b-img").animate({ "left": "-" + ctPosit + "%" }, 1000);
							$(this).addClass("spcss").siblings("span").removeClass("spcss");
						})

						function rollEnvent() {
							if(n == imgLength - 1) {
								var ctPosit = (n + 1) * 100;
								$(".banner").append($(".b-img").clone());
								$(".b-img:last").css("left", "100%");
								$(".b-img:first").animate({ "left": "-" + ctPosit + "%" }, 1000);
								$(".b-img:last").animate({ "left": "0" }, 1000);
								var setTime0 = setTimeout(function() {
									$(".banner .b-img:first").remove();
								}, 1000);
								n = 0;
								$(".b-list span:eq(0)").addClass("spcss").siblings("span").removeClass("spcss");
							} else {
								n++;
								var ctPosit = n * 100;
								$(".b-img").animate({ "left": "-" + ctPosit + "%" }, 1000);
								$(".b-list span:eq(" + n + ")").addClass("spcss").siblings("span").removeClass("spcss");
							}
						}
						var slidesetInterval = setInterval(rollEnvent, 4000);
						$(".banner").hover(function() { clearInterval(slidesetInterval); }, function() { slidesetInterval = setInterval(rollEnvent, 4000); });
						$(".bar-left").mouseover(function() {
							$(this).css("background", "url(images/arr-bg.png)");
							$(this).find("em").addClass("emcss");
						}).mouseleave(function() {
							$(this).css("background", "none");
							$(this).find("em").removeClass("emcss");
						})
						$(".bar-right").mouseover(function() {
							$(this).css("background", "url(images/arr-bg.png)");
							$(this).find("em").addClass("emcss");
						}).mouseleave(function() {
							$(this).css("background", "none");
							$(this).find("em").removeClass("emcss");
						})
					})
				</script>
				<ul>
				<foreach name="list2" item="v">
					<li>
						<a href="zixunListcon.html?id=<{$v.id}>"><{$v.name}></a>
					</li>
				</foreach>
					<!-- <li>
						<a href="zixunListcon.html">2018年过半，微信小程序风口在哪</a>
					</li>
					<li>
						<a href="zixunListcon.html">2018年过半，微信小程序风口在哪</a>
					</li>
					<li>
						<a href="zixunListcon.html">2018年过半，微信小程序风口在哪</a>
					</li>
					<li>
						<a href="zixunListcon.html">2018年过半，微信小程序风口在哪</a>
					</li>
					<li>
						<a href="zixunListcon.html">2018年过半，微信小程序风口在哪</a>
					</li>
					<li>
						<a href="zixunListcon.html">2018年过半，微信小程序风口在哪</a>
					</li> -->
				</ul>
			</div>
		</article>
		<article class="zixunList_list">
			<ul>
			<foreach name="list3" item="v" class="asdd">
				<li>
					<a href="zixunListcon.html?id=<{$v.id}>" class="flex"><img src="<{$v.picture}>" alt="" class="zixunList_listimg" />
						<div>
							<h4><{$v.name}></h4>
							<h6><{$v.content|html_entity_decode|mb_substr=0,31}></h6>
							<p><{$v.add|date="Y-m-d H:i",###}></p>
						</div>
					</a>
				</li>
			</foreach>
				<!-- <li>
					<a href="zixunListcon.html" class="flex"><img src="__PUBLIC__/Home/img/zixun/xinwen02_11.jpg" alt="" class="zixunList_listimg" />
						<div>
							<h4>可爱小动物消消乐——动物涨姿势小程序测评</h4>
							<h6>这里有超可爱的小动物  快把他们叠起来吧</h6>
							<p>2018-7-28 19：35</p>
						</div>
					</a>
				</li>
				<li>
					<a href="zixunListcon.html" class="flex"><img src="__PUBLIC__/Home/img/zixun/xinwen02_13.jpg" alt="" class="zixunList_listimg" />
						<div>
							<h4>可爱小动物消消乐——动物涨姿势小程序测评</h4>
							<h6>这里有超可爱的小动物  快把他们叠起来吧</h6>
							<p>2018-7-28 19：35</p>
						</div>
					</a>
				</li> -->
			</ul>
			<script>
				console.log();
			</script>
			<button class="zixun_more">加载更多</button>
		</article>
		<script type="text/javascript">
			$(document).ready(function() {
				$(".zixun_more").click(function() {
					$.post("__ACTION__",{limit:$(".zixunList_list li").length,id:"<{$Think.get.id}>"},function(result){
						console.log(result);
						// console.log(eval(result)[0]);
						//console.log(eval(result)[0].id);
						var condata=eval(result);
						// var listart="<li><a href='zixunListcon.html?id="+eval(result)[i].id+"' class='flex'><img src='"+eval(result)[i].picture+"' alt='' class='zixunList_listimg' /><div><h4><"+eval(result)[i].name+"></h4><h6><"+eval(result)[i].content+"></h6><p><"+eval(result)[i].add+"></p></div></a></li>";
// 						var a="<li><a href='zixunListcon.html?id=";
// 						var b="' class='flex'><img src='";
// 						var c="' alt='' class='zixunList_listimg' /><div><h4><";
// 						var d="></h4><h6><";
// 						var e="></h6><p><";
// 						var f="></p></div></a></li>";
 						for(var i=0;i<condata.length;i++){
							$(".zixunList_list ul").append("<li><a href='zixunListcon.html?id="+eval(result)[i].id+"' class='flex'><img src='"+eval(result)[i].picture+"' alt='' class='zixunList_listimg' /><div><h4>"+eval(result)[i].name+"</h4><h6>"+eval(result)[i].content+"</h6><p>"+eval(result)[i].add+"</p></div></a></li>");
 						}
						
					});
				})
			})
		</script>
		<include file="Public/footer"/>

	</body>

</html>