<footer>
			<div class="foot flex">
				<ul>
					<li>
						<a href="__MODULE__/Fa/fa.html">解决方案</a>
					</li>
					<li>
						<a href="__MODULE__/Fa/fa.html">公众号相关服务</a>
					</li>
					<li>
						<a href="__MODULE__/Fa/fa.html">通用版开发</a>
					</li>
					<li>
						<a href="__MODULE__/Fa/fa.html">定制版开发</a>
					</li>
				</ul>
				<ul>
					<li>
						<a href="__MODULE__/Fa/fa.html">服务</a>
					</li>
					<li>
						<a href="__MODULE__/Fa/fa.html">服务内容</a>
					</li>
					<li>
						<a href="__MODULE__/Fa/fa.html">服务流程</a>
					</li>
				</ul>
				<ul>
					<li>
						<a href="__MODULE__/Anli/anli.html">案例展示</a>
					</li>
					<li>
						<a href="__MODULE__/Anli/anli.html">通用版案例展示</a>
					</li>
					<li>
						<a href="__MODULE__/Anli/anli.html">定制版案例展示</a>
					</li>
				</ul>
				<ul>
					<li>
						<a href="__MODULE__/Jiaru/jiaru.html">招商加盟</a>
					</li>
					<li>
						<a href="__MODULE__/Jiaru/jiaru.html">加盟流程</a>
					</li>
					<li>
						<a href="__MODULE__/Jiaru/jiaru.html">加盟条件</a>
					</li>
					<li>
						<a href="__MODULE__/Jiaru/jiaru.html">联系方式</a>
					</li>
				</ul>
				<ul>
					<li>
						<a href="__MODULE__/About/about.html">关于我们</a>
					</li>
					<li>
						<a href="__MODULE__/About/about.html">公司简介</a>
					</li>
					<li>
						<a href="__MODULE__/About/about.html">服务品质</a>
					</li>
					<li>
						<a href="__MODULE__/About/about.html">联系我们</a>
					</li>
				</ul>
			</div>
			<p class="vw1_2">版权所有©2011-2018&nbsp;中也科技有限公司&nbsp;版权归中也科技所有盗用必究<br />中也科技整体互联网+解决方案专家&nbsp;&nbsp;&nbsp;&nbsp;京ICP备18024938号</p>
		</footer>